/* You can add custom styles here. */

// @import "plugins/numbered";
:root {
    counter-reset: figure tbl;
}

.book-menu a.active {
    color: var(--syntax-type);
    font-weight: 800;
}

.book-toc a {
    color: var(--syntax-type);
}

.book-toc * > li.active > a {
    font-weight: 800;
}

.markdown h1, h2, h3, h4, h5, h6, .book-toc-content {
    code {
        color: var(--body-font-color);
        padding: 0 !important;
        border-radius: 0 !important;
        background: none !important;
    }
}

h1 {
    margin-top: 0;
    font-weight: 600;
}

div.blank-area {
    min-height: 90vh;
}

figure {
    img {
        display: block;
        margin: auto;
        padding: .5rem;
        background-color: #fff;
    }

    svg {
        display: block;
        margin: auto;
        padding: .5rem;
        width: 100%;
        height: auto;
        background-color: #fff;
    }

    .attribution {
        font-size: $font-size-12;
        text-align: center;
    }

    figcaption {
        margin-top: .5rem;
        text-align: center;
    }
}

figure.half-width svg, figure.half-width img {
    width: 50%;
}

figcaption::before {
    counter-increment: figure;
    content: "Figure " counter(figure) ": ";
}

table caption {
    margin-bottom: .5rem;
    text-align: center;
}

table caption::before {
    counter-increment: tbl;
    content: "Table " counter(tbl) ": ";
}

li::marker {
    color: var(--syntax-type);
}

ul > li > ul > li::marker {
    color: var(--body-font-color);
}

ol li::marker {
    font-size: $font-size-14;
}
