/* You can add custom styles here. */

// @import "plugins/numbered";
:root {
    counter-reset: figure tbl;
}

.book-menu a.active,
.book-toc * > li.active > a code,
.book-toc * > li.active > a {
    color: var(--syntax-type);
    opacity: 100%;
    font-weight: 900;
}

.book-page h1 {
    margin-top: 0;
    font-size: $font-size-32;
    font-weight: 500;
}

.book-toc-content {
    margin-top: .25rem;
}

.book-toc a {
    color: var(--syntax-type);
    opacity: 90%;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.book-toc-content {
    code {
        font-size: 93.75%;
        color: var(--body-font-color);
        padding: 0 !important;
        border-radius: 0 !important;
        background: none !important;
    }
}

.book-toc-content code {
    color: var(--syntax-type);
}

div.blank-area {
    min-height: 90vh;
}

figure {
    img {
        display: block;
        margin: auto;
        padding: .5rem;
        background-color: #fff;
    }

    svg {
        display: block;
        margin: auto;
        padding: .5rem;
        width: 100%;
        height: auto;
        background-color: #fff;
    }

    .attribution {
        font-size: $font-size-12;
        text-align: center;
    }

    figcaption {
        margin-top: .5rem;
        text-align: center;
    }
}

figure.no-bg > img,
figure.no-bg > svg {
    padding: 0;
    background-color: transparent;
}

figure.half-width svg, figure.half-width img {
    width: 50%;
}

figcaption::before {
    counter-increment: figure;
    content: "Figure " counter(figure) ": ";
}

table caption {
    margin-bottom: .5rem;
    text-align: center;
}

table caption::before {
    counter-increment: tbl;
    content: "Table " counter(tbl) ": ";
}

li::marker {
    color: var(--syntax-type);
}

article > ul > li > ul > li::marker {
    color: var(--body-font-color);
}

article > ul > li > ul > li > ul > li {
    list-style-type: '– ';
}

ol li::marker {
    font-size: $font-size-16;
}

table.timetable {
    tr td {
        height: 4rem;
    }

    tr td,
    tr th {
        vertical-align: middle;
    }
}

.markdown {
    .mt-4 {
        margin-top: .25rem;
    }

    .mt-8 {
        margin-top: .5rem;
    }
    
    .mt-16 {
        margin-top: 1rem;
    }
}

code a {
    color: var(--syntax-comment);
    opacity: 80%;
}

@media (hover: hover) {
    .markdown code a:hover {
        color: var(--body-font-color);
    }
}
