/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jetbrainsmono/JetBrainsMono-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Lato Latin */
@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-BlackItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Hairline.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-HairlineItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-HeavyItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 800
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-SemiboldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Lato Latin';
  src: url('fonts/latolatin/LatoLatin-ThinItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 200;
}

body {
  font-family: 'Lato Latin', sans-serif;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-feature-settings: "zero", "ss19";
}
