/* You can override SASS variables here. */

// @import "plugins/dark";

:root {
    --body-font-color: #e6edf3;
    --gray-300: #30363d;
    --gray-400: #484f58;
    --attention-subtle: rgba(187,128,9,0.275);
    --danger-subtle: rgba(248,81,73,0.275);
    --neutral-muted: rgba(110,118,129,0.4);
    --pink-3: #ff9bce;
    --syntax-comment: #8b949e;
    --syntax-constant: #79c0ff;
    --syntax-entity: #d2a8ff;
    --syntax-error: #f85149;
    --syntax-keyword: #ff7b72;
    --syntax-nametag: #7ee787;
    --syntax-number: #f8e3a1;
    --syntax-string: #a5d6ff;
    --syntax-type: #c9d1d9;
}
