/* Background */ .bg { color: #c9d1d9; background-color:#0d1117; }
/* PreWrapper */ .chroma { color: #c9d1d9; background-color:#0d1117; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .error { color: #f85149; }
/* CodeLine */ .chroma .cl {  }
/* LineHighlight */ .chroma .hl { color: #6e7681; }
