/* Background */ .bg { color: var(--body-font-color); background-color: var(--gray-100); }
/* PreWrapper */ .chroma, .code-inline { color: var(--body-font-color); background-color: var(--gray-100); }
/* Other */ .chroma .x, .code-inline .x {  }
/* Error */ .chroma .err, .code-inline .err { color: var(--syntax-error) }
/* CodeLine */ .chroma .cl, .code-inline .cl { color: #fff; }
/* LineTableTD */ .chroma .lntd, .code-inline .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable, .code-inline .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl, .code-inline .hl { background-color: var(--attention-subtle); }
/* LineNumbersTable */ .chroma .lnt, .code-inline .lnt, .code-inline .lnt, .code-inline .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* LineNumbers */ .chroma .ln, .code-inline .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* Line */ .chroma .line, .code-inline .line { display: flex; }
/* Keyword */ .chroma .k, .code-inline .k { color: var(--syntax-keyword); }
/* KeywordConstant */ .chroma .kc, .code-inline .kc { color: var(--syntax-keyword); }
/* KeywordDeclaration */ .chroma .kd, .code-inline .kd { color: var(--syntax-keyword); }
/* KeywordNamespace */ .chroma .kn, .code-inline .kn { color: var(--syntax-keyword); }
/* KeywordPseudo */ .chroma .kp, .code-inline .kp { color: var(--syntax-keyword); }
/* KeywordReserved */ .chroma .kr, .code-inline .kr { color: var(--syntax-keyword); }
/* KeywordType */ .chroma .kt, .code-inline .kt { color: var(--syntax-keyword); }
/* Name */ .chroma .n, .code-inline .n { color: var(--body-font-color); }
/* NameAttribute */ .chroma .na, .code-inline .na { color: var(--body-font-color); }
/* NameBuiltin */ .chroma .nb, .code-inline .nb { color: var(--body-font-color); }
/* NameBuiltinPseudo */ .chroma .bp, .code-inline .bp { color: var(--body-font-color); }
/* NameClass */ .chroma .nc, .code-inline .nc { color: var(--body-font-color); }
/* NameConstant */ .chroma .no, .code-inline .no { color: var(--body-font-color); }
/* NameDecorator */ .chroma .nd, .code-inline .nd { color: var(--body-font-color); }
/* NameEntity */ .chroma .ni, .code-inline .ni { color: var(--body-font-color); }
/* NameException */ .chroma .ne, .code-inline .ne { color: var(--body-font-color); }
/* NameFunction */ .chroma .nf, .code-inline .nf { color: var(--syntax-entity); }
/* NameFunctionMagic */ .chroma .fm, .code-inline .fm {  }
/* NameLabel */ .chroma .nl, .code-inline .nl { color: var(--body-font-color); }
/* NameNamespace */ .chroma .nn, .code-inline .nn { color: var(--body-font-color); }
/* NameOther */ .chroma .nx, .code-inline .nx { color: var(--body-font-color); }
/* NameProperty */ .chroma .py, .code-inline .py { color: var(--body-font-color); }
/* NameTag */ .chroma .nt, .code-inline .nt { color: var(--body-font-color); }
/* NameVariable */ .chroma .nv, .code-inline .nv { color: var(--body-font-color); }
/* NameVariableClass */ .chroma .vc, .code-inline .vc { color: var(--body-font-color); }
/* NameVariableGlobal */ .chroma .vg, .code-inline .vg { color: var(--body-font-color); }
/* NameVariableInstance */ .chroma .vi, .code-inline .vi { color: var(--body-font-color); }
/* NameVariableMagic */ .chroma .vm, .code-inline .vm { color: var(--body-font-color); }
/* Literal */ .chroma .l, .code-inline .l { color: var(--syntax-constant); }
/* LiteralDate */ .chroma .ld, .code-inline .ld { color: var(--syntax-constant); }
/* LiteralString */ .chroma .s, .code-inline .s { color: var(--syntax-string); }
/* LiteralStringAffix */ .chroma .sa, .code-inline .sa { color: var(--syntax-string); }
/* LiteralStringBacktick */ .chroma .sb, .code-inline .sb { color: var(--syntax-string); }
/* LiteralStringChar */ .chroma .sc, .code-inline .sc { color: var(--syntax-string); }
/* LiteralStringDelimiter */ .chroma .dl, .code-inline .dl { color: var(--syntax-string); }
/* LiteralStringDoc */ .chroma .sd, .code-inline .sd { color: var(--syntax-string); }
/* LiteralStringDouble */ .chroma .s2, .code-inline .s2 { color: var(--syntax-string); }
/* LiteralStringEscape */ .chroma .se, .code-inline .se { color: var(--syntax-string); }
/* LiteralStringHeredoc */ .chroma .sh, .code-inline .sh { color: var(--syntax-string); }
/* LiteralStringInterpol */ .chroma .si, .code-inline .si { color: var(--syntax-string); }
/* LiteralStringOther */ .chroma .sx, .code-inline .sx { color: var(--syntax-string); }
/* LiteralStringRegex */ .chroma .sr, .code-inline .sr { color: var(--syntax-string); }
/* LiteralStringSingle */ .chroma .s1, .code-inline .s1 { color: var(--syntax-string); }
/* LiteralStringSymbol */ .chroma .ss, .code-inline .ss { color: var(--syntax-string); }
/* LiteralNumber */ .chroma .m, .code-inline .m { color: var(--syntax-constant); }
/* LiteralNumberBin */ .chroma .mb, .code-inline .mb { color: var(--syntax-constant); }
/* LiteralNumberFloat */ .chroma .mf, .code-inline .mf { color: var(--syntax-constant); }
/* LiteralNumberHex */ .chroma .mh, .code-inline .mh { color: var(--syntax-constant); }
/* LiteralNumberInteger */ .chroma .mi, .code-inline .mi { color: var(--syntax-constant); }
/* LiteralNumberIntegerLong */ .chroma .il, .code-inline .il { color: var(--syntax-constant); }
/* LiteralNumberOct */ .chroma .mo, .code-inline .mo { color: var(--syntax-constant); }
/* Operator */ .chroma .o, .code-inline .o { color: var(--syntax-constant); }
/* OperatorWord */ .chroma .ow, .code-inline .ow { color: var(--syntax-constant); }
/* Punctuation */ .chroma .p, .code-inline .p { color: var(--syntax-type); }
/* Comment */ .chroma .c, .code-inline .c { color: var(--syntax-comment); font-style: italic; }
/* CommentHashbang */ .chroma .ch, .code-inline .ch { color: var(--syntax-comment); font-style: italic; }
/* CommentMultiline */ .chroma .cm, .code-inline .cm { color: var(--syntax-comment); font-style: italic; }
/* CommentSingle */ .chroma .c1, .code-inline .c1 { color: var(--syntax-comment); font-style: italic; }
/* CommentSpecial */ .chroma .cs, .code-inline .cs { color: var(--syntax-comment); font-style: italic; }
/* CommentPreproc */ .chroma .cp, .code-inline .cp { color: var(--syntax-keyword); }
/* CommentPreprocFile */ .chroma .cpf, .code-inline .cpf { color: var(--syntax-string); }
/* Generic */ .chroma .g, .code-inline .g {  }
/* GenericDeleted */ .chroma .gd, .code-inline .gd {  }
/* GenericEmph */ .chroma .ge, .code-inline .ge {  }
/* GenericError */ .chroma .gr, .code-inline .gr {  }
/* GenericHeading */ .chroma .gh, .code-inline .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi, .code-inline .gi {  }
/* GenericOutput */ .chroma .go, .code-inline .go {  }
/* GenericPrompt */ .chroma .gp, .code-inline .gp {  }
/* GenericStrong */ .chroma .gs, .code-inline .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu, .code-inline .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt, .code-inline .gt {  }
/* GenericUnderline */ .chroma .gl, .code-inline .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w, .code-inline .w {  }
